<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars!</title>
    <link rel="stylesheet" href="/css/cars.css">
  </head>
  <body>
    <h1> Welcome to Cars! </h1>
    <div class="container">
      <img src="./images/cars1.jpeg" alt="Yellow Car">
      <img src="./images/cars2.jpg" alt="Red Car">
      <img src="./images/cars3.jpeg" alt="Audi">
    </div>
  </body>
