<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enter New Car details!</title>
    <link rel="stylesheet" href="/css/forms.css">

  </head>
  <body>
    <div class="container">
      <h1> Enter A New Car </h1>
      <form action="/action_page.php">
        Car Make:<br>
        <input type="text" name="make">
        <br>
        Car Model:<br>
        <input type="text" name="model">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>


  </body>
</html>
