<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Express Cars!</title>

	<style>
		img{
			height: 300px;
		}
	</style>
	
	

</head>
<body>

	<a href="/cars/mercedes"><img src="car1.jpeg" alt=""></a>
	<a href="/cars/ferarri"><img src="car2.jpeg" alt=""></a>
	<a href="/cars/chevy"><img src="car3.jpeg" alt=""></a>
	<a href="/cars/audi"><img src="car4.jpeg" alt=""></a>

	
</body>
</html>