<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Express Cats!</title>
	
	<style>
		img{
			height: 300px;
		}
	</style>


</head>
<body>
	<h1>Express Cats Baby!</h1>
	
	<a href="/cats/fluffy"><img src="cat1.jpeg" alt=""></a>
	<a href="/cats/tiny"><img src="cat2.jpeg" alt=""></a>
	<a href="/cats/spike"><img src="cat3.jpeg" alt=""></a>
	<a href="/cats/greybeard"><img src="cat4.jpeg" alt=""></a>

</body>
</html>